<!DOCTYPE html>
<html lang="en-us" >
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">

  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="robots" content="NONE,NOARCHIVE" />
  <title></title>

  <link href="/static/xadmin/vendor/bootstrap/css/bootstrap.css" type="text/css" media="screen" rel="stylesheet" />

  <link rel="stylesheet" type="text/css" id="site-theme" href="/static/xadmin/css/themes/bootstrap-xadmin.css" />

  <link href="/static/xadmin/vendor/font-awesome/css/font-awesome.css" type="text/css" media="screen" rel="stylesheet" />
<link href="/static/xadmin/css/xadmin.main.css" type="text/css" media="screen" rel="stylesheet" />
<link href="/static/xadmin/css/xadmin.plugins.css" type="text/css" media="screen" rel="stylesheet" />
<link href="/static/xadmin/css/xadmin.responsive.css" type="text/css" media="screen" rel="stylesheet" />


<style type="text/css">
  .form-signout h2, .form-signout p{margin-bottom: 15px;}
</style>


</head>
<body class="">

<div class="container">

  <div class="panel panel-default form-signout panel-single" style="max-width: 300px;">
    <div class="panel-body">
      <h2 class="text-success">成功退出</h2>
      <p>感谢您今天在本站花费了一些宝贵时间。</p>
      <p class="btn-group">
        <a href="#" onclick="javascript:window.opener=null;window.open('','_self');window.close();" class="btn btn-primary">关闭窗口</a>
        <a href="{% url 'login' %}" class="btn btn-default">重新登录</a>
      </p>
    </div>
  </div>

</div> <!-- /container -->

</body>
</html>